<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
    
      Change locale (with javascript):
     <% form_tag '' do %>
     <%= select_tag("locale", options_for_select(LANGUAGES, I18n.locale), { :index => nil, :onchange => 'this.form.submit()'}) %>
     <% end %>
     <br>
     Change locale with link_to function:
     <br>
    <%= link_to "English", locales_path('en') %>
    
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
